@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Handlee&family=Luckiest+Guy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Luckiest Guy";
}

body{
    background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
    height: 100vh;
}


header {
    padding: 20px auto;
    background-color: red;
    padding: 20px;
    overflow: hidden;
}

header h1{
    float: left;
    margin-left: 10%;
    color: white;
}

header h1 i{
    margin-right: 10px;
}

header ul {
    list-style: none;
    font-size: 20px;
    margin-left: 60%;
}

header ul li {
    float: left;
    margin-top: 10px;
    padding: 0 20px 0 20px;
}

header ul li a{
    text-decoration: none;
    color: white;
}

.current a::after{
    content: "_";
    display: block;
    background-color: white;
    font-size: 4px;
}


.wrapper{
    display: grid;
    grid-template-columns: 82% 18%;
}

.equation{
    font-size: 65px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 15%;
    margin: 10px 10px 0 10px;

}

.equation h1{
    display: inline;
    padding: 20px;
}

.answer-options{
    font-size: 67px;
    margin-right: 10px;
}

.answer-options h1{
    cursor: pointer;
    color: white;
    border-radius: 3px;
    margin-top: 10px;  
    text-align: center;
    border: 1px solid #333;
    transition: 1s;
    overflow: hidden;
}


#option1 {
    background: rgb(173, 173, 212);
    color:white; 
}

#option1:hover {
    background: white;
    color: rgb(173, 173, 212);
}

#option2 {
    background: rgba(229, 38, 98, 0.894);
    color:white; 
}

#option2:hover {
    background: white;
    color: rgb(173, 173, 212);
}

#option2 {
    background: rgb(0, 255, 0);
    color:white; 
}

#option2:hover {
    background: white;
    color: rgb(0, 255, 0);
}

#option3 {
    background: rgb(15, 209, 63);
    color:white; 
}

#option3:hover {
    background: white;
    color: rgb(15, 209, 63);
}